.adr-payment-success-transaction-id {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.24);
}

.adr-payment-success-direction-info {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}
